<mat-toolbar class="notes-toolbar primary">
  <mat-toolbar-row>
    <input matInput autofocus placeholder="Search" (input)="onSearch($event.target.value)">
  </mat-toolbar-row>
</mat-toolbar>
<br/><br/><br/>
<p *ngIf="!notes"><em>Loading...</em></p>
<div *ngFor="let n of notes">
    <mat-card class="note-card">
      <mat-card-header>
        {{ n.title }}
      </mat-card-header>
      <mat-card-subtitle>
        <td>{{ n.text | slice:0:100}}
      </mat-card-subtitle>
      <mat-chip-list *ngIf="n.tags">
        <mat-chip class="tags-chip" *ngFor="let t of n.tags">{{t}}</mat-chip>
      </mat-chip-list>
    </mat-card>
</div>
