<mat-toolbar class="notes-toolbar">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
<p *ngIf="!notes"><em>Loading...</em></p>
<mat-grid-list cols="2" rowHeight="200px" *ngIf="notes">
  <mat-grid-tile *ngFor="let n of notes">
    <mat-card class="note-card">
      <mat-card-header>
        {{ n.title }}
      </mat-card-header>
      <mat-card-content>
        <td>{{ n.text }}
      </mat-card-content>
      <mat-chip-list *ngIf="n.tags">
        <mat-chip *ngFor="let t of n.tags">{{t}}</mat-chip>
      </mat-chip-list>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
